*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --branco: #fff;
    --preto: #000;
    --cinzaesc: #1d1d1d;
}

body{
    padding-top: 60px;
    color: var(--branco);
    background-color: var(--preto);
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 20px;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

i{
    color: var(--branco);
}

a{
    color: dimgray;
    text-decoration: none;
}

/* Apresentação */

#apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#ola{
    font-size: 30px;
}

#nome{
    font-size: 45px;
}

/* Sobre */

#sobre{
    background-color: var(--cinzaesc);
    margin-top: 100px;
    padding: 100px;
}

#sobre p{
    margin-left: 10px;
    font-family: "Roboto Condensed", sans-serif;
}

img{
    height: 500px;
    width: 510px;
    border-radius: 100vh;
}

h2{
    padding: 10px;
    font-weight: 800;
    font-family: "Oswald", sans-serif;
}

/* Projetos */

/* Contatos */

#contatos{
    background-color: var(--cinzaesc);
}

/* classes */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto{
    margin-left: 50px;
}

/* Todos */

#apresentacao, #sobre, #projetos, #contatos{
    margin-top: 200px;
}

/* Outros */

#links{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 48px; 
}