*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 20px;
    padding: 20px;
}

i{
   color: #000;
}

a{
    color: dimgray;
    text-decoration: none;
}

#apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 25px;
}

#links{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 48px; 
}

#ola{
    font-size: 30px;
}

#nome{
    font-size: 45px;
}